body {
  /* Typography Declarations */
  font-size: 1em;  
  
  background-color: rgb(255,13,255);
  background-color: #add8e6;
  
  font-family: 'Droid Serif', serif;
}
h1 {
  color: blue;
}
 
h2 {
  font-size: 2em;
}


.content-footer,
.masthead-intro,
.masthead-heading,
 h1, h2 {
           
  text-align: center;
}
.masthead {
  padding: 6em 0;
  border-top: solid 1em #FFCF33;
  background-image: url(http://i1378.photobucket.com/albums/ah96/zoeb2769/photo-1433650552684-d4004a945d6c_zps397kk3nj.jpeg);
  background-size: cover;
  background-repeat: no repeat; 
  
}


.masthead-intro {
  /*layout Declaration*/
    margin-bottom: 0.1em;
  /* Typography Decalarations */
    font-family: "Gentium Book Basic",     Georgia, serif;
    font-size: 2em;
    color:blue;  
  
}
.masthead-heading {
    margin-top: -0.2em;
    font-family: "Gentium Book Basic",     Georgia, serif;
  font-weight: bold;
  font-size: 3em;
  leter-spacing: -0.2em;
  text-transform: uppercase;
  color: blue;
}
.first {
  background-color: white;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;  
}
.snapshots {
  display:inline-block;
  
  text-align: center;
  background-color:  grey;

}
.projects > li {
  display:inline-block;
}
.social > li {
  display:inline-block;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
  /*Typography Decalarations */
  font-weight:300;
  letter-spacing: 0.05em;
}
.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}
.questions-section h1 {
  color: blue;
}
 
.questions-section p {
  color:red;
  text-shadow: 1px 1px 1px #000; 
}


.content-footer p {
  color:white;
  text-shadow: 1px 1px 1px #000;
  
}
 @media only screen and  (max-width: 500px) {
  .masthead-heading {
        font-size: 3em;
  }
}
    @media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}
    @media only screen and (max-width: 500px) {
.footer {
font-size:3em;
  padding 1em 0;
  border-length: auto;

}
}

.first {
  margin:10em;
 display:inline;
}
.introduction-section {
  text-align: center;
  float: left;
  margin-left: 5em;
}
.location-section {
  text-align: center;
  float: right;
  margin-right: 5em;
}
.questions-section {
  margin-top: 12em;
  text-align:center;
}
.answers1 {
  margin-top: 3em;
  margin-right: 40px;
 
  
 }
 .answers2 {
  f
  
  
 
}

 .answers3 {
  text-align: center;
 }

 .content-footer {
  border-top: 7em;
  

 }

 .footer {
  width: 30em;
 }

 .answers1 .answers2 .answers3 {
  display:inline;
 }

 

.projects ul li {
  display: inline-block;

}
